.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "header"
    "contenido"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;   
}

.header {
    grid-area: header;
    align-items: center;
    display: flex;
    padding:  0 2rem;   
}
.menu__link{
    color: #333333;
    padding: .5rem 1rem;
}

.contenido {
    grid-area: contenido;
    padding:  0 2rem;
    background-color: #f3eeee;
}

.footer { 
    grid-area: footer;
    background-color: #fdfdfd;
    color: #333333;
    padding: 1rem;
    text-align: center;
    
}